*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.homepage_text{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.homepage_text button {
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.homepage_text button:hover {
  background: linear-gradient(to right, red 0%, rgb(207, 97, 23) 100%);
}
.homepage_text a {
    text-decoration: none;
    color: white;
}
.homepage_logo img{
    cursor: pointer;
    animation: spin 5s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}